* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  position: absolute;
  width: 1366px;
  display: grid;
  align-items: center;
  background-image: url(./images/bg.png);
}
.iCr {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-color: black;
  border-radius: 50%;
  margin-top: 40%;
  margin-left: 540px;
  margin-bottom: 150%;
  transform: translate(0, -11000px);
  animation: slide 2.5s cubic-bezier(1, 0, 0, 1) 400ms forwards;
}
@keyframes slide {
  0% {
    transform: scale(1) translate(0, -11000px);
  }
  50% {
    transform: scale(1) translate(0, 500px);
  }
  70% {
    transform: scale(2) translate(0, -200px);
  }
  100% {
    transform: translate(0, 800px) scale(8);
  }
}
#chock1 {
  background-image: url(./images/chock.svg);
  background-size: cover;
}
#van1 {
  background-image: url(./images/van.svg);
  background-size: cover;
}
#straw1 {
  background-image: url(./images/straw.svg);
  background-size: cover;
}
#mint1 {
  background-image: url(./images/mint.svg);
  background-size: cover;
}
a {
  position: absolute;
  transform: translateX(-68.5px);
  font-size: 8px;
  border-radius: 50%;
  padding: 7%;
  text-decoration: none;
  color: #ffea00;
  opacity: 0;
  animation: textAppear 400ms cubic-bezier(1, 0, 0, 1) 2600ms forwards;
  letter-spacing: 1em;
}
#van {
  margin-left: 18px;
}
#mint {
  margin-left: 30px;
}
a:visited {
  color: #ffea00;
}
a:hover {
  color: #ffea00;
}
@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
