*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  position: absolute;
  width: 1920px;
  display: grid;
  align-items: center;
  background-image: url(./images/bg.png);
}
.iCr {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-image: url(./images/chock.svg);
  background-size: 600px;
  border-radius: 50%;
  margin-top: -66%;
  margin-left: 44%;
  margin-bottom: 60%;
  animation: slide 3s cubic-bezier(1, 0, 0, 1) 400ms forwards;
}
.iCr1 {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-image: url(./images/straw.svg);
  background-size: 600px;
  border-radius: 50%;
  margin-top: -66%;
  margin-left: 44%;
  margin-bottom: 60%;
  animation: slide 3s cubic-bezier(1, 0, 0, 1) 400ms forwards;
}
.iCr2 {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-image: url(./images/straw.svg);
  background-size: 1000px;
  border-radius: 50%;
  margin-top: -66%;
  margin-left: 44%;
  margin-bottom: 60%;
  animation: slide 3s cubic-bezier(1, 0, 0, 1) 400ms forwards;
}
.iCr3 {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-image: url(./images/straw.svg);
  background-size: 600px;
  border-radius: 50%;
  margin-top: -66%;
  margin-left: 44%;
  margin-bottom: 60%;
  animation: slide 3s cubic-bezier(1, 0, 0, 1) 400ms forwards;
}
a {
  position: absolute;
  transform: translateX(-50%);
  font-size: 80%;
  border-radius: 50%;
  padding: 7%;
  text-decoration: none;
  color: #ffea00;
  opacity: 0;
  animation: textAppear 1s cubic-bezier(1, 0, 0, 1) 3300ms forwards;
  letter-spacing: 10px;
}
a:visited {
  color: #ffea00;
}
a:hover {
  color: #ffea00;
}
@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: scaleX(1);
    transform: translateX(0);
    margin-bottom: 60%;
  }
  25% {
    transform: translateX(0);
    transform: scale(1);
    margin-top: 100%;
    margin-bottom: 0%;
  }
  50% {
    transform: translateX(0);
    transform: scale(1);
    margin-top: 8%;
    margin-bottom: -15%;
  }
  90% {
    transform: translateX(0);
    transform: scale(3);
    margin-top: 16%;
    margin-bottom: 85%;
  }
  100% {
    transform: translateX(1000px);
    transform: scale(10);
    margin-top: 80%;
    margin-bottom: 85%;
  }
}
@keyframes bgAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
