* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  width: 1920px;
  position: absolute;
  display: grid;
  align-items: center;
  background-image: url(./images/bg.png);
}
.iCr {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-size: 300px;
  border-radius: 50%;
  transform: translate(0, -11000px);
  margin-top: 40%;
  margin-left: 800px;
  margin-bottom: 150%;
  animation: slide 2.5s cubic-bezier(1, 0, 0, 1) 400ms forwards;
}

@keyframes slide {
  0% {
    transform: scale(1) translate(0, -11000px);
  }
  50% {
    transform: scale(1) translate(0, 500px);
  }
  70% {
    transform: scale(2) translate(0, -200px);
  }
  100% {
    transform: translate(0, 800px) scale(8);
  }
}
#chock1 {
  background-image: url(./images/chock.svg);
  background-size: cover;
}
#van1 {
  background-image: url(./images/van.svg);
  background-size: cover;
}
#straw1 {
  background-image: url(./images/straw.svg);
  background-size: cover;
}
#mint1 {
  background-image: url(./images/mint.svg);
  background-size: cover;
}
a {
  position: absolute;
  transform: translateX(-81px);
  font-size: 9px;
  border-radius: 50%;
  padding: 7%;
  text-decoration: none;
  color: #ffea00;
  opacity: 0;
  animation: textAppear 600ms cubic-bezier(1, 0, 0, 1) 2200ms forwards;
  letter-spacing: 1.2em;
}
a:visited {
  color: none;
}
a:hover {
  color: none;
}
#chock {
  margin-left: -10px;
  color: #7cc4cc;
}
#van {
  margin-left: 14px;
  color: #1e2e56;
}
#straw {
  margin-left: -10px;
  color: #155833;
}
#mint {
  margin-left: 28px;
  color: #c68acc;
}
@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
