* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  position: absolute;
  width: 1366px;
  display: grid;
  align-items: center;
  background-image: url(./images/bg.png);
  transform: translate(0, -400px);
}
.iCr {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-color: black;
  border-radius: 50%;
  margin-top: 76%;
  margin-left: 500px;
  margin-bottom: 100%;
  transform: translate(0, -11000px) rotate(360deg);
  animation: slide 5s cubic-bezier(1, 0, 0, 1) forwards;
}
@keyframes slide {
  0% {
    transform: scale(1) translate(0, -11000px) rotate(360deg);
  }
  25% {
    transform: scale(1) translate(0, 500px) rotate(360deg);
  }
  50% {
    transform: scale(2) translate(0, -250px) rotate(180deg);
  }
  75% {
    transform: translate(0, -600px) scale(8) rotate(90deg);
  }
  100% {
    transform: translate(0, 800px) scale(8) rotate(0deg);
  }
}
#chock1 {
  background-image: url(./images/chock.svg);
  background-size: cover;
}
#van1 {
  background-image: url(./images/van.svg);
  background-size: cover;
}
#straw1 {
  background-image: url(./images/straw.svg);
  background-size: cover;
}
#mint1 {
  background-image: url(./images/mint.svg);
  background-size: cover;
}
a {
  position: absolute;
  transform: translateX(-68.5px);
  font-size: 7px;
  border-radius: 50%;
  padding: 6%;
  text-decoration: none;
  opacity: 0;
  animation: textAppear 500ms cubic-bezier(1, 0, 0, 1) 3900ms forwards;
  letter-spacing: 1.4em;
}
#chock {
  margin-left: 0px;
  color: #7cc4cc;
}
#van {
  margin-left: 14px;
  color: #1e2e56;
}
#straw {
  margin-left: -7px;
  color: #155833;
}
#mint {
  margin-left: 25px;
  color: #d968a9;
}
a:visited {
  color: none;
}
a:hover {
  color: none;
}
@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
