* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  position: absolute;
  width: 1920px;
  display: grid;
  align-items: center;
  background-image: url(./images/bg.png);
}
.iCr {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-size: 300px;
  border-radius: 50%;
  margin-top: 50%;
  margin-left: 800px;
  margin-bottom: 100%;
  transform: translate(0, 1000px);
  animation: slide 3s cubic-bezier(1, 0, 0, 1) 400ms forwards;
}
#chock1 {
  background-image: url(./images/chock.svg);
}
#van1 {
  background-image: url(./images/van.svg);
}
#straw1 {
  background-image: url(./images/straw.svg);
  background-size: cover;
}
#mint1 {
  background-image: url(./images/mint.svg);
  background-size: 300px;
}
@keyframes slide {
  0% {
    transform: scale(1);
    transform: translate(0, 1000px);
  }
  50% {
    transform: scale(1);
    transform: translate(0, 1100px);
  }
  70% {
    transform: scale(1);
    transform: translate(0, 1100px);
  }
  100% {
    transform: translate(0, 1100px) scale(10);
  }
}
a {
  position: absolute;
  transform: translateX(-68.5px);
  font-size: 8px;
  border-radius: 50%;
  padding: 7%;
  text-decoration: none;
  color: #ffea00;
  opacity: 0;
  animation: textAppear 600ms cubic-bezier(1, 0, 0, 1) 2200ms forwards;
  letter-spacing: 1em;
}
a:visited {
  color: #ffea00;
}
a:hover {
  color: #ffea00;
}
#van {
  margin-left: 14px;
}
#straw {
  margin-left: -10px;
}
#mint {
  margin-left: 28px;
}
@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
