* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  width: 1920px;
  height: 6912px;
  position: absolute;
  display: grid;
  align-items: center;
  background-image: url(./images/bg.png);
  background-size: 1920px;
}
.iCr {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-size: 300px;
  border-radius: 50%;
  margin-top: 0%;
  margin-left: 800px;
}

@keyframes slide {
  0% {
    transform: scale(1) translate(0, -2000px) rotate(360deg);
  }
  25% {
    transform: scale(1) translate(0, -500px) rotate(360deg);
  }
  50% {
    transform: scale(2) translate(0, -820px) rotate(180deg);
  }
  75% {
    transform: translate(0, -1300px) scale(4) rotate(90deg);
  }
  100% {
    transform: translate(0, -600px) scale(4) rotate(0deg);
  }
}
@keyframes slide1 {
  0% {
    transform: scale(1) translate(0, -6000px) rotate(360deg);
  }
  25% {
    transform: scale(1) translate(0, -1900px) rotate(360deg);
  }
  50% {
    transform: scale(2) translate(0, -1400px) rotate(180deg);
  }
  75% {
    transform: translate(0, -2400px) scale(5) rotate(90deg);
  }
  100% {
    transform: translate(0, -1100px) scale(5) rotate(0deg);
  }
}
@keyframes slide2 {
  0% {
    transform: scale(1) translate(0, -9000px) rotate(360deg);
  }
  25% {
    transform: scale(1) translate(0, -3300px) rotate(360deg);
  }
  50% {
    transform: scale(2) translate(0, -2000px) rotate(180deg);
  }
  75% {
    transform: translate(0, -3500px) scale(6) rotate(90deg);
  }
  100% {
    transform: translate(0, -1500px) scale(6) rotate(0deg);
  }
}
@keyframes slide3 {
  0% {
    transform: scale(1) translate(0, -14000px) rotate(360deg);
  }
  25% {
    transform: scale(1) translate(0, -4700px) rotate(360deg);
  }
  50% {
    transform: scale(2) translate(0, -2600px) rotate(180deg);
  }
  75% {
    transform: translate(0, -4300px) scale(8) rotate(90deg);
  }
  100% {
    transform: translate(0, -1700px) scale(8) rotate(0deg);
  }
}
#chock1 {
  background-image: url(./images/chock.svg);
  background-size: cover;
  transform: translate(0, -2000px) rotate(360deg);
  animation: slide 5s cubic-bezier(0.75, 0, 0.25, 1) forwards;
}
#van1 {
  background-image: url(./images/van.svg);
  background-size: cover;
  transform: translate(0, -4000px) rotate(360deg);
  animation: slide1 5s cubic-bezier(0.75, 0, 0.25, 1) forwards;
}
#straw1 {
  background-image: url(./images/straw.svg);
  background-size: cover;
  transform: translate(0, 2000px) rotate(360deg);
  animation: slide2 5s cubic-bezier(0.75, 0, 0.25, 1) forwards;
}
#mint1 {
  background-image: url(./images/mint.svg);
  background-size: 300px;
  transform: translate(0, 2000px) rotate(360deg);
  animation: slide3 5s cubic-bezier(0.75, 0, 0.25, 1) forwards;
}
a {
  position: absolute;
  transform: translateX(-90px);
  font-size: 9px;
  border-radius: 50%;
  padding: 9%;
  text-decoration: none;
  color: #ffea00;
  opacity: 0;
  animation: textAppear 600ms cubic-bezier(1, 0, 0, 1) 3900ms forwards;
  letter-spacing: 1.2em;
}
a:visited {
  color: none;
}
a:hover {
  color: none;
}
#chock {
  margin-left: 5px;
  color: #7cc4cc;
}
#van {
  margin-left: 22px;
  color: #1e2e56;
}
#straw {
  margin-left: -5px;
  color: #155833;
}
#mint {
  margin-left: 42px;
  color: #d968a9;
}
@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
