* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  position: absolute;
  width: 1366px;
  display: grid;
  align-items: center;
  background-image: url(./images/bg.png);
}
.iCr {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  font-family: "indie flower", cursive;
  background-color: black;
  border-radius: 50%;
  margin-top: -600px;
  margin-left: 600px;
  margin-bottom: 400px;
  animation: slide 3s cubic-bezier(1, 0, 0, 1) 400ms forwards;
}

@keyframes slide {
  0% {
    transform: scale(1);
    margin-top: -600px;
    margin-bottom: 400px;
  }
  25% {
    transform: scale(1);
    margin-top: 100%;
    margin-bottom: 0%;
  }
  50% {
    transform: scale(1);
    margin-top: 0%;
    margin-bottom: 0%;
  }
  90% {
    transform: scale(3);
    margin-top: 16%;
    margin-bottom: 85%;
  }
  100% {
    transform: scale(10);
    margin-top: 80%;
    margin-bottom: 85%;
  }
}
@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  position: absolute;
  transform: translateX(-60px);
  font-size: 8px;
  border-radius: 50%;
  padding: 7%;
  text-decoration: none;
  color: #ffea00;
  opacity: 0;
  animation: textAppear 1s cubic-bezier(1, 0, 0, 1) 3300ms forwards;
  letter-spacing: 1em;
}
a:visited {
  color: #ffea00;
}
a:hover {
  color: #ffea00;
}
@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bgAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
